.admin-console__main-container {
  width: 100% !important;
}

.admin-console__navbar {
  background-color: rgb(42, 42, 240);
  height: 65px;
}

.admin-console__user-info {
  margin-left: 10px;
}

.admin-console__sidebar-buttons {
  margin-right: 10px;
  align-items: center;
}

.admin-console__main-container {
  width: 100vw;
  overflow-x: hidden;
}

.admin-console__search-input {
  width: 93%;
}

.admin-console__search-btn {
  width: 12%;
  margin-left: 1% !important;
  cursor: pointer;
  height: 50px !important;
  color: #000 !important;
}

.admin-console__search-btn:hover {
  background-color: blue !important;
  color: #fff !important;
}

.admin-console__search-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
}

.admin-console__main-title {
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.admin-console__user-info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//@at-root

.admin-console__user-name {
  width: 20%;
  min-width: 300px;
}

.admin-console__user-email {
  min-width: 200px;
  width: 15%;
  word-wrap: break-word;
}

.admin-console__user-career {
  width: 10%;
  min-width: 150px;
}

.admin-console__user-phone {
  min-width: 120px;
  width: 10%;
}

.admin-console__user-dateOfEntry {
  min-width: 140px;
  width: 10%;
}

.admin-console__role-select {
  min-width: 205px;
  width: 10%;
}

.admin-console__delete-btn {
  width: 3%;
  min-width: 20px;
}
//@at-root

.project-catalog__logout-button {
  background-color: red;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid darkgray;
  color: #fff;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.project-catalog__logout-button:hover {
  background-color: rgb(255, 0, 0);
  transition: all 0.2s ease-in;
}

.admin-console__role-select {
  padding: 10px;
  padding-right: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.admin-console__display-objectives-btn {
  padding: 5px 7px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid darkgray;
  cursor: pointer;
}
