.project-catalog__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  transition: color 0.3 ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.project-catalog__project-entry {
  background-color: rgb(245, 244, 244);
  border-radius: 4px;
  color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 300px;
}

.project-catalog__project-entry-picture {
  height: 300px;
  width: 50% !important;
  background-position: center;
  outline: 1px solid black;
  overflow: hidden;
}

.project-catalog__project-entry-body {
  position: relative;
  padding-left: 7px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  background-color: blue;
  padding-right: 0px;
  overflow-wrap: break-word;
}

.project-catalog__project-entry-description {
  margin-right: 0px;
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: unset;
}

.project-catalog__project-entry-title {
  font-size: 20px;
  margin-right: 7px;
  margin-top: -3px;
  text-align: center;
  font-weight: bold;
}

.project-catalog__decoration-line {
  margin-top: -15px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: darkgray;
}

.project-catalog__project-entry-content {
  font-size: 14px;
  margin-top: -5px;
  padding-left: 3px;
  margin-right: 10px;
}

.project-catalog__icon-entry-value {
  font-size: 20px;
  margin-right: 10px;
}

.project-catalog__project-entry-slogan {
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: -10px;
}

.project-catalog__project-entry-date-box {
  position: absolute;
  bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
  width: 100%;
}

.project-catalog__project-entry-body {
  // background-color: red;
  position: relative;
  width: 50% !important;
}

.project-catalog__visit-project {
  background-color: blue;
  padding: 7px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #ddd;
}

.project-catalog__icon-fav-project {
  font-size: 30px;
  color: red;
}

.project__main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.project__appbar {
  align-items: center;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.project__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // min-width: 300px;
  // max-width: 500px;
  width: 100%;
  padding: 10px;
}

.project__country-input {
  width: 85%;
}

.project__title-input,
.project__textarea {
  border: 1px solid lightgray;
  &:focus {
    outline: none;
  }
}
.project__title-input {
  font-weight: 500;
  font-size: 20px;
  width: 90%;
  margin-bottom: 10px;
  color: darkgray;
  border-radius: 3px;
  text-indent: 10px;
}

.project__form-input-secundary {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project__price-input {
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  margin-bottom: 10px;
  color: darkgray;
  border-radius: 3px;
  text-indent: 10px;
  border: 1px solid lightgray;
}

.project__input-label {
  font-size: 20px;
  color: #555;
  margin-bottom: 0px;
}

.project__form-input {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.project__form-input-main {
  padding: 5px;
  background-color: unset;
  display: flex;
  flex-direction: row;
  background: unset;
  border-radius: 3px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.project__form-input-title {
  display: flex;
  flex-direction: column;
  width: 200%;
  min-width: 500px;
  padding: 0px;
}

.project__date-input {
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.project__form-input-date {
  display: flex;
  align-self: flex-start;
  min-width: 200px;
  flex-direction: column;
  // background-color: blue;
  width: 100%;
  padding: 0px;
}

.project__textarea {
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: darkgray;
}

.project__image-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project__image-link img {
  box-shadow: 5px 5px lightgray;
  border-radius: 3px;
  margin-right: 10px;
}

.project__img-item {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__img-list-container {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: center;
}

.project__img-note {
  align-self: center;
  min-width: 100px;
  max-width: 250px;
}

.paginator__main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginator__pagination-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  padding: 7px 15px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #ddd;
  cursor: pointer;
}

.project-catalog__icon-pagination {
  margin: 5px;
}
.paginator__buttons-container {
  display: flex;
  flex-direction: row;
}

.paginator__pagination-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: auto;
  margin-left: 30px;
}

#pagination-quantity-items {
  margin-left: 20px;
  width: 70px;
  height: 30px;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 5px;
}

.paginator__pagination-items-container label {
  margin-top: 5px;
}

.project-catalog__project-entry-title {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3px;
  font-size: 20px;
}

.project-catalog__project-entry-content {
  margin-left: 10px;
  margin-right: 10px;
  //   background-color: blue;
  //   border: 1px solid black;
  font-size: 15px;
}

.project-catalog__delete-project-button {
  position: absolute;
  left: 88%;
  bottom: 88%;
  cursor: pointer;
}

.project-catalog__visibility-icon {
  color: #000;
  font-size: 20px;
  position: absolute;
  left: 3%;
  bottom: 83%;
  cursor: pointer;
}

.project-catalog__shared-project-icon {
  right: 10px;
  color: #000;
  font-size: 20px;
  position: absolute;
  left: 90%;
  bottom: 83%;
}

.project-catalog__icon-delete-project {
  font-size: 25px;
}

.project-catalog__project-entry-buttons {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0px 2%;
  justify-content: space-evenly;
  margin-top: -5px;
}

.project-catalog__visit-project-button {
  margin-bottom: 5px;
  background-color: #4285f4;
  color: white;
  outline: none;
  border: 1px solid darkgray;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.project-catalog__project-entry-details-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.project-catalog__project-entry-details {
  height: 60px;
  //   background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-catalog__project-entry-details-favorite,
.project-catalog__project-entry-details-view-count {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50% !important;
  //   border: 1px solid red;
  align-items: center;
  overflow-wrap: break-word;
}

.project-catalog__icon-fav-project {
  margin-top: 30px;
  margin-bottom: -10px;
}

.project-catalog__visit-project-button,
.project-catalog__visit-project {
  height: 30px;
}
